body{
    width: 98%;
    height: 94vh;
    background-color: bisque;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: xx-large;
}
#heading{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
    color: white;
} 
#blocks{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: rgb(0, 128, 38);
}
#numbers{
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
}
#div3, #div2, #div4, #div5, #div6{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 0.5rem;
    font-size: x-large;
}
#div6 div{
    width: 100px;
    height: 70px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
}
#div2 div{
    width: 100px;
    height: 70px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
}
#div3 div{
    width: 100px;
    height: 70px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
}
#div4 div{
    width: 100px;
    height: 70px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
}
#div5 div{
    width: 100px;
    height: 70px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
}
#div1{
    width: 464px;
    height: 70px;
    margin: 0.5rem;
    
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.animation{
    font-size: small;
}